<ion-tabs>

  <ion-tab-bar slot="bottom">
    <a href="/tabs/home" style="padding: 1.5rem;">
      <ion-icon name="home-outline" style="font-size: 1.5rem;"></ion-icon>
      <!-- <ion-label style="display: block;font-size: 0.5rem;">Home</ion-label> -->
    </a>

    <a href="/tabs/p2pmarket" style="padding: 1.5rem;">
      <ion-icon name="cart-outline" style="font-size: 1.5rem;"></ion-icon>
      <!-- <ion-label style="display: block;font-size: 0.5rem;">P2P Market</ion-label> -->
    </a>

    <a href="/tabs/gamehub" style="padding: 1.5rem;">
      <ion-icon name="game-controller-outline" style="font-size: 1.5rem;"></ion-icon>
      <!-- <ion-label style="display: block;font-size: 0.5rem;">Game Hub</ion-label> -->
    </a>

    <a id="nested-button" href="/tabs/background" style="padding: 1.5rem;">
      <ion-icon name="add-circle-outline" style="font-size: 1.5rem;"></ion-icon>
      <!-- <ion-label style="display: block;font-size: 0.5rem;">Utility</ion-label> -->
    </a>

    <a href="/tabs/tab2" style="padding: 1.5rem;">
      <ion-icon name="chatbubbles-outline" style="font-size: 1.5rem;"></ion-icon>
      <!-- <ion-label style="display: block;font-size: 0.5rem;">Suppport</ion-label> -->
    </a>

  </ion-tab-bar>

</ion-tabs>