<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
		<!-- <script src="./assets/jquery-3.6.0.min.js"></script> -->
		<!-- <script src="./assets/js/bootstrap.js"></script> -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/slate/bootstrap.min.css" integrity="sha384-8iuq0iaMHpnH2vSyvZMSIqQuUnQA7QM+f6srIdlgBrTSEyd//AWNMyEaSF2yPzNQ" crossorigin="anonymous">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
		<title>Home - Oragon Marketplace</title>
	</head>
	<div class="container">
		<div class="row">
			<div class="col-sm-12" style="padding-top: 2vh;">
				<div class="card">
					<div class="card-header">
						<p>History Item</p>
					</div>
					<button class="btn btn-primary" (click)="sendbackBattery()" style="color: azure;">Kirim Data Battery</button>
					<!-- <div class="card-body" *ngFor="let ie of item_egg; let i = index">
						<div class="row">
							<div class="col-sm-4">
								<p>{{i}}</p>
								<p>User ID</p>
								<p>{{ie.userid}}</p>
							</div>
							<div class="col-sm-4">
								<p>Item</p>
								<p>{{ie.item}}</p>
								<div *ngIf="ie.item == 'Duration'">
								</div>
							</div>
							<div class="col-sm-4">
								<p>Date</p>
								<p>{{ie.date}}</p>
							</div>
						</div>
					</div> -->
				</div>
			</div>
		</div>
		</div>
</html>